:root {
    --blue: #013b70;
    --yellow: #ffce00;
    color: black;
    font-size: 18px;
    font-family: 'Consolas', 'Courier New', 'Monospace';
}

  
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    scroll-behavior: smooth;
}

/* NAVIGATION */

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: var(--blue);
    padding: 0rem 1rem;
}

@media only screen and (max-width: 768px) { 
    .navbar {
        justify-content: center;
    }
}

.navbar .push-left {
    color: white;
    padding: 1rem;
    margin-right: auto;
}

@media only screen and (max-width: 768px) { 
    .navbar .push-left {
        display: none;
    }
}

.navbar a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.navbar a:hover {
    color: black;
    background-color: var(--yellow);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3)
}

/* HEADER */

#club-container {
    background-image: url('gabriel-heinzer-g5jpH62pwes-unsplash\ \(blurred\).png');
    background-color: lightgray;    
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    box-shadow: inset 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 25px 15px rgba(0, 0, 0, 0.15);
    color: white;
    z-index: 2;
}

@media only screen and (min-width: 480px) {
    #club-container {
        font-size: 1.2rem;
    }    
}

#club-title {
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
}

#club-description {
    padding: 3rem 1.5rem;
}

@media only screen and (min-width: 480px) {
    #club-description {
        padding: 4rem 2rem;
    }
}

#club-description h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#club-description h3 {
    font-weight: 100;
}

/* FORM */

#join-section {
    padding: 3rem 1.5rem;
}

@media only screen and (min-width: 480px) {
    #join-section {
        font-size: 1.2rem;
        padding: 4rem 2rem;
    }
}

#join-header {
    text-align: center;
    margin-bottom: 2rem;
}

#form-container {
    border-radius: 10px;
    border-style: solid;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}

@media only screen and (min-width: 480px) {
    #form-container {
        width: 90%;
    }
}

#form-header {
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--yellow);
    padding: 2rem 0;
    border-radius: 8px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-inputs {
    margin: 2rem;
}

@media only screen and (min-width: 480px) {
    .form-inputs {
        padding: 1rem 2rem;
    }
}

.form-inputs input, textarea {
    font-size: 1rem;
    padding: 0.5rem;
}

.form-inputs #name, #id-number, #email {
    display: flex;
    align-items: center;
    padding: 6px;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.form-inputs textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 6rem;
    max-height: 12rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}

.submit {
    background-color: var(--yellow);
    font-family: 'Consolas', 'Courier New', 'Monospace';
    font-weight: bolder;
    display: flex;
    margin: auto;
    border-radius: 5px;
    transition: 0.25s;
}

.submit:hover {
    color: white; background-color: var(--blue); 
    border-color: white;
}

/* footer */

footer {
    box-shadow: inset 0px 0px 25px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--blue);
    padding: 4rem 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    text-align: center;
}

footer .push-right {
    margin-left: auto;
}   

@media only screen and (max-width: 768px) {
    footer {
        justify-content: center;
    }
    footer .push-right {
        display: none;
        margin-left: auto;
    }  
}